shift + enter -> run the current cell and move to the next cell


ctrl + enter -> run the current cell and stay on the same cell

alt + enter -> run the current cell and insert a new cell below

In [11]:
# 5 and 6 are int data type because they are whole numbers
# 11 is a int
# 5 and 6 are the operands
# + is an operator
# 11 is a value

5 + 6

11

In [12]:
# 5 and 2 are int data type
# 2.5 is a float data type
# 5 and 2 are operands
# / is an operator
# 2.5 is a value

5 / 2

2.5

## Additional Arithmetic Operators

| Operator | Description |
|---|---|
| // | Integer division (always rounds down)|
| % | Modulo or remainder |
| ** | Exponentiation |

In [17]:
# / -> division operator, return float

10 / 3

3.3333333333333335

In [16]:
# // -> integer division, divide the first operand by the second, return the quotient rounded down to the nearest integer

10 // 3

3

In [19]:
105 / 2

52.5

In [20]:
105 // 2

52

In [21]:
# % -> modulo operator, return the remainder of the division of the first operand by the second

10 % 3

1

In [23]:
12 % 5

2

In [24]:
# ** -> exponentiation operator, raise a number to a power

10 ** 3

1000

In [25]:
2 ** 3

8

In [28]:
# bool data type, which can be true or false

True

True

In [27]:
False

False

## Comparison operators

Python has comparison operators as well as arithmetic operators. Unlike arithmetic expressions, which produce integer or float values, comparison expressions produce a Boolean value.

| Operator | Description |
| --- | --- |
| `>` | Greater than |
| `>=` | Greater than or equal to |
| `<` | Less than |
| `<=` | Less than or equal to |
| `==` | Equal to |
| `!=` | Not equal to |

In [29]:
50 > 25

True

In [30]:
-15 >= -14.99

False

In [32]:
20 == 20

True

In [33]:
30 != 40

True

## Operator precedence

Arithmetic and comparison operators are evaluated in the following order. We can enclose operations in parentheses to override the order of precedence -- operations in parentheses are evaluated before the rest of the expression.

| Order | Operator | Description |
|---|---|---|
| 1 | `**` | Exponentiation |
| 2 | `-`| Negation |
| 3 | `*`, `/`, `//`, `%` | Multiplication, division, integer division, and modulo |
| 4 | `+`, `-` | Addition and subtraction |
| 5 | `<`, `<=`, `>`, `>=`, `==`, `!=` | Less than, less than or equal to, greater than, greater than or equal to, equal, not equal |

In [35]:
(4 + 5) / (30 % 4) == 5

False

In [36]:
4 + 5

9

In [37]:
30 % 4

2

In [38]:
9 / 2

4.5

In [46]:
1 / 2
4.5 == 5

0.5

False

In [42]:
# variable names can include letters, digits, and underscores
# cannot start with a digit
# case sensitive

kaylie = 1
KAYLIE = 10

In [47]:
degrees_celsius = 25
degrees_celsius

25

In [48]:
degrees_fahrenheit = (9 / 5) * degrees_celsius + 32
degrees_fahrenheit

77.0

In [49]:
degrees_celsius

25

In [50]:
degrees_celsius = 0

In [51]:
degrees_celsius

0

In [52]:
degrees_fahrenheit

77.0

In [54]:
degrees_fahrenheit = (9 / 5) * degrees_celsius + 32

In [55]:
degrees_fahrenheit

32.0

In [56]:
degrees_celsius

0

In [57]:
degrees_celsius = degrees_celsius + 10

In [58]:
degrees_celsius

10

In [59]:
degrees_celsius = degrees_celsius + 10
degrees_celsius

20

In [60]:
degrees_celsius += 10
degrees_celsius

30

In [61]:
degrees_celsius -= 10
degrees_celsius

20

In [62]:
a = 1
a

1

In [63]:
b = a
b

1

In [66]:
a = 2
a

2

In [67]:
b

1

In [68]:
a = 3

In [69]:
b = a

In [70]:
b

3

In [71]:
a

3

In [72]:
a = 10000

In [73]:
a

10000

In [74]:
b

3

In [75]:
# syntax error when your program contains code that is not valid Python

12 = x

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (3892556776.py, line 3)

In [76]:
25 -

SyntaxError: invalid syntax (3249839057.py, line 1)

In [79]:
# name error when you try to use a variable that hasn't been assigned yet

my_variable + 1

101

In [78]:
my_variable = 100

In [82]:
#monday = 100
tuesday = 200
wednesday = 400

In [83]:
student1_grade = 90
student2_grade = 50
student3_grade = 74
average_grade = (student1_grade + student2_grade +
                  student3_grade) / 3
average_grade  # These lines of code will produce a value.
# Python will ignore everything after the # symbol.

71.33333333333333

In [ ]:
# readability:

# white spaces: a space to either side of an operand helps readability
# can also split code across multiple lines by wrapping it in parentheses
# comments: annotations, toggle lines of code on/off for debugging
# clear and consistent variable names

## Which code is easier to read and follow?

Version 1
```python
studentone_grade=90
StudentGrade2=50
stu3gr=74
avggrade=(studentone_grade+StudentGrade2+stut3gr)/3
```

Version 2 
```python
student1_grade = 90
student2_grade = 50
student3_grade = 74
average_grade = ((student1_grade
                  + student2_grade
                  + student3_grade)
                 / 3)
```

In [84]:
print(42)

42

In [85]:
type(42)

int

In [86]:
type(42.0)

float

In [87]:
abs(-43)

43

In [88]:
round(2/3)

1

In [89]:
int(3.99)

3

In [90]:
float(5)

5.0

In [91]:
print(type(round(2 * 1.5)))

<class 'int'>

In [92]:
2 * 1.5

3.0

In [93]:
round(3.0)

3

In [94]:
type(3)

int

In [95]:
print(type(3))

<class 'int'>

In [96]:
help(round)

Help on built-in function round in module builtins:

round(number, ndigits=None)
    Round a number to a given precision in decimal digits.

    The return value is an integer if ndigits is omitted or None.  Otherwise
    the return value has the same type as the number.  ndigits may be negative.

In [99]:
round(3.56, 1)

3.6

In [17]:
def c_to_f(degrees_c):
    # convert degrees from celsius to fahrenheit
    degrees_f = (9 / 5) * degrees_c + 32
    return degrees_f

In [101]:
c_to_f(100)

212.0

In [103]:
c_to_f(-11)

12.2

In [104]:
freezing_f = c_to_f(0)

In [105]:
freezing_f

32.0

In [106]:
def divide(dividend, divisor):
    output = dividend / divisor
    return output

In [107]:
divide(0, 2)

0.0

In [108]:
divide(100, 10)

10.0

In [109]:
divide(2, 0)

ZeroDivisionError: division by zero

In [1]:
def calc_sales_tax(price, tax_rate=0.13):
    tax_amt = price * tax_rate
    return tax_amt

In [2]:
calc_sales_tax(5)

0.65

In [3]:
5 * 0.13

0.65

In [4]:
calc_sales_tax(5, .08)

0.4

In [5]:
5 * 0.08

0.4

In [6]:
def calc_total_bill(price, tax_rate=0.13, tip_rate=0.15):
    tax_amt = price * tax_rate
    tip_amt = price * tip_rate
    final_price = price + tax_amt + tip_amt
    return final_price

In [7]:
calc_total_bill(100)

128.0

In [8]:
100 + 100*0.13 + 100*0.15

128.0

In [9]:
calc_total_bill(100, 0.22)

137.0

In [10]:
100 + 100*0.22 + 100*0.15

137.0

In [11]:
calc_total_bill(100, tip_rate=0.22)

135.0

In [12]:
100 + 100*0.13 + 100*0.22

135.0

In [13]:
calc_total_bill(100, 0, 0.22)

122.0

In [15]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

In [18]:
help(c_to_f)

Help on function c_to_f in module __main__:

c_to_f(degrees_c)

In [28]:
def c_to_f(degrees_c):
    """Convert degrees from celsius to fahrenheit"""
    degrees_f = (9 / 5) * degrees_c + 32
    return degrees_f

In [20]:
help(c_to_f)

Help on function c_to_f in module __main__:

c_to_f(degrees_c)
    Convert degrees from celsius to fahrenheit

In [22]:
print(c_to_f(60))

None

In [24]:
degrees_c

NameError: name 'degrees_c' is not defined

In [25]:
temp = 37

In [29]:
print(c_to_f(temp))

98.60000000000001